@import url(./components/Card/Card.module.scss);

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; // уброать горизонтальный скролл
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 0px auto;
  padding: 40px;
}

header {
  border-bottom: 1px solid #eaeaea;
}

img {
  margin-right: 15px;
}

h3,
p {
  margin: 0;
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  // background: #fff;
  // border: 1px solid #f2f2f2;
  // box-sizing: border-box;
  border-radius: 8px;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  padding: 30px;
  display: flex;
  flex-direction: column;

  .items {
    flex: 1;
    overflow: hidden;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
  }
}

.cardTotalBlock {
  ul {
    display: block;
    margin-bottom: 20px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  background: #9dd458;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  img {
    margin-left: 20px;
  }

  &:hover {
    background: lighten(#9dd458, 5%);
  }

  &:active {
    background: darken(#9dd458, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cardItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }
}

.remoteBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}